<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='DevNotePad 1.3.2' 
        Manufacturer='Bjoern Hillebrand' 
        Id='d75873d6-fc0e-4325-9ba9-50d866f09db7' 
        UpgradeCode='6e40dbce-e5ea-4833-8f46-67637ba7d20d' 
        Language='1033' Codepage='1252' Version='1.3.2'>

    <Package Id='*' Keywords='Installer' Description="DevNotePad Installer"
        Comments='None' Manufacturer='Bjoern Hillebrand'
        InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id="1" CompressionLevel="medium" Cabinet="setup.msi" />
        <!-- 

            cbbfa7cb-3b59-4887-81d7-59a5fef804d5
            DevNotePad.Features.dll

            fbf47b10-0eaf-45a5-8e38-5f940f6e5f42
            Generic.MVVM.dll

            21913013-23e3-4c8f-9fa3-c1402bad1028
            DevNotePad.exe
            DevNotePad.dll
            DevNotePad.deps.json
            DevNodePad.runtimeconfig.json

            https://wixtoolset.org/documentation/manual/v3/

        -->

        <!-- Define the directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" >
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="DevNotPad">
                </Directory>
            </Directory>
        </Directory>

        <!-- Add the files -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="devnotepad.exe" Guid="21913013-23e3-4c8f-9fa3-c1402bad1028" >
                <File Id="devnotepad.exe" Source="release\DevNotePad.exe" KeyPath="yes" Checksum="yes" />
                <File Id="devnotepad.dll" Source="release\DevNotePad.dll" />
                <File Id="devnotepad.deps.json" Source="release\DevNotePad.deps.json" />
                <File Id="devnotepad.runtimeconfig.json" Source="release\DevNotePad.runtimeconfig.json" />
            </Component>
            <Component Id="devnotpad.features.dll" Guid="cbbfa7cb-3b59-4887-81d7-59a5fef804d5">
                <File Id="devnotepad.features.dll" Source="release\DevNotePad.Features.dll" KeyPath="yes" />
            </Component>
            <Component Id="generic.mvvm.dll" Guid="fbf47b10-0eaf-45a5-8e38-5f940f6e5f42">
                <File Id="generic.mvvm.dll" Source="release\Generic.MVVM.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Add the components to the installer -->
        <Feature Id="Complete">
            <ComponentRef Id="devnotepad.exe"  />
            <ComponentRef Id="devnotpad.features.dll" />
            <ComponentRef Id="generic.mvvm.dll" />
        </Feature>        
        
        <!-- Icon Todo -->
    </Product>
</Wix>